.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #D3D5D4;
    color: #fff;
    h1{
        font-size: 1.5rem;
        cursor: pointer;
    }
   ul{
       display: flex;
       flex-direction: row;
       gap: 1rem;
       list-style: none;
       justify-content: center;
       li{
           margin-right: 1rem;
           a{
               text-decoration: none;
               color: black;
               &:hover{
                   color: black;
               }
           }
            .order-counter {
        display: flex;
        align-items: center;

        .order-count {
          background-color: red;
          border-radius: 50%;
          color: white;
          padding: 0 6px;
          font-size: 14px;
          position: absolute;
          top: -10px;
          right: -10px;
        }
      }
       }
   }
}